<p><strong>MyRestaurant</strong> is the fastest way to handle restaurants' orders</p>
<p><strong>MyRestaurant</strong> makes the life of waiters and cooks easier</p>
<p>Orders of customers can be taken in seconds.</p>
<p>The kitchen receive the orders as soon as the waiters take them.</p>
<p>The app is recommended for any waiter and cook who doesn't want to fumble around with pen and paper</p>
<p>The team created this application consist of</p>
<ul>
<li>Chu Thi Thuy Hien</li>
<li>Phan Minh Tu</li>
<li>Hoang Trong Hieu</li>
<li>Nguyen Khac Hieu</li>
</ul>
<p>For support email khachieunk@gmail.com</p>
<p>Thank you for using our application</p>
