
<ion-side-menus >
	<ion-side-menu-content>
		
		<ion-header-bar class="bar-calm">
			<div class="buttons button-left header-item">
				<span class="left-buttons">
          			<button class="button button-icon button-clear ion-android-menu" ng-click="toggleLeft()"></button>
        		</span>
        	</div>
        	<h1 class="title">My Restaurant</h1>
        	<div class="buttons buttons-right header-item">
        		<span class="right-buttons">
          			<button class="button button-icon button-clear ion-ios-gear-outline button-right" ng-click="openPopover($event)"></button>
        		</span>
      		</div>
		</ion-header-bar>
			
			<ion-content class="home-wrap">
				<div class="row" style="margin-top:10px;">
					<div class="col col-45" id="home-menu" ><a href="#menu"><img src="img/menu.png" class="cangiua"></a>
					</div>	
					<div class="col col-45" id="home-table" ><a href="#table"><img src="img/table1.png" class="cangiua"></a>
					</div>	
				</div>
				<div class="row" >
					<div class="col col-45" id="home-order"  ><a href="#order"><img src="img/order4.png" class="cangiua"></a>
					</div>	
					<div class="col col-45" id="home-addstaff" ><a href="#report" >
					<img src="img/addstaff1.png" class="cangiua">
					</a>
					</div>	
				</div>
				<div class="row">
					<div class="col col-45" id="home-print" ><a href="#login"><img src="img/print.png" class="cangiua"></a>
					</div>	
					<div class="col col-45" id="home-about"  ><a href="#login"><img src="img/about1.png" class="cangiua"></a>
					</div>	
				</div>
			
		</ion-content>

	</ion-side-menu-content>
		
		<ion-side-menu side="left">
			 <ion-header-bar class="dark-bg expanded" style="background: url('img/straw1.jpg') center; background-size: cover;     height: 22% !important;">
	      		<div class="item-avatar">
		      		<img src="img/howl's-moving-castle.jpg" >
		      		
	      		</div>
	      		<div class="user-name">
		        	{{username || 'unknown error'}}
		      		</div>
	    	</ion-header-bar>
	    <ion-content >
			<ion-list class="account">
				<ion-item ng-click="home()">Home</ion-item>
				<ion-item ng-click="setting()">Setting</ion-item>
				<!-- <ion-item ng-click="logOut()">Log out</ion-item>
				<ion-item ng-click="logOut()">Log out</ion-item> -->
				<ion-item ng-click="logOut()">Log out</ion-item>
			</ion-list>
		</ion-contet>
		</ion-side-menu>
	
</ion-side-menus> 