<div ng-model="table">order for table {{tableId}}</div>
<ion-header-bar class="bar-calm">
  <div class="buttons button-left header-item">
    <span class="left-buttons">
        <a class="button button-icon button-calm ion-chevron-left" href="#table"></a>
        </span>
    </div>
    <h1 class="title">Order for table {{tableId}}</h1>
    <div class="search-wrap" style="margin-left: 81%; font-size: 21px; margin-top: 8px;"> 
      <span class="ion-search"  id="search-orderdetails" style="position: absolute;"></span>
    </div>

<div class="bar bar-header item-input-inset" id="show-search" style="    top: -5px;
    border: none;
    display: flex;
    background-color: transparent;
    margin-left: -300px;">
  <label class="item-input-wrapper" id="hide-search-wrap" style="background-color:white;">
    <i class="icon ion-search" id="hide-search" style="color:#11C1F3; font-size: 20px;"></i>
    <input type="search" placeholder="Search" ng-model="query[queryBy]">
  </label>
 
</div>
</ion-header-bar>
<ion-content style="background-color:white;">

  <div class="orderdetalis-wrap" style="min-height:900px">
   <p id="menu-order-left" style="    padding-bottom: 2px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
        margin-left: -10px;
        color: white">Menu</p>
      <hr style=" width: 87%;border-color: white; border-top: 0;">
  <div class="card clear-fix orderdetails-item" ng-repeat="item in items |filter:query "ng-click="addToList(item);"  >
     
     <span class="orderdetalis-foodName" > {{item.foodName}} </span><br>
      <span class="item-note orderdetalis-foodPrice" style="float: right;"> {{item.foodPrice}}</span>
 
  </div> 

</div>
<div>
  <div class="" style="    margin-bottom: 40px;">
   <p id="order-right"  style=" padding-bottom: 2px;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
        margin-left: -10px;
        color: #F77B55">My order </p>
    <hr style="  width: 37%; margin-right: 10px; border-color: #f77b55; border-top: 0;">
<span style="float: left;
    margin-bottom: 10px;
    margin-left: 5px; color: #F77B55">Food</span>
<span style="    float: right;
    margin-right: 6px;
    margin-bottom: 10px; color: #F77B55" >Quantity </span>
    </div>
        <div ng-repeat="item in myCartItems track by $index " style="    margin-top: 10px;
 ">
                     <span style="float:left; padding-left: 5px;">{{item.foodName}}</span>
                      <input type="number" id="foodQuantity" style="width: 36px;              
      height: 27px;padding-left: 4px;
float: right;    margin-right: 10px;
      background-color: transparent;
      border: 1px solid #f77b55;" ng-model="item.foodQuantity"><br><br>
                     <span style="display:none">{{item.foodQuantity}}</span> 
      
        </div>

     <div style="margin-bottom: 10px;padding-left: 15px;color:#f77b55"> Total: {{ cartSum() }}</div>
     <button ng-click="sendOrder()" class=" icon-left ion-paper-airplane" style=" 
     background-color: #f77b55;
     margin-right:5px;
      border: none;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      width:145px;
      height:30px;
      color:white;
      margin-left: 6px;">SEND</button>
   
</div>
</ion-content>
