<div ng-model="table">order for table {{tableId}}</div>
<ion-header-bar class="bar-calm">
	<div class="buttons button-left header-item">
		<span class="left-buttons">
        <a class="button button-icon button-calm ion-chevron-left" href="#table"></a>
        </span>
    </div>
    <h1 class="title">Order for table {{tableId}}</h1>
    
</ion-header-bar>
<ion-content>
<input ng-model="query[queryBy]"/>
	<div class="card " ng-repeat="item in items|filter:query" style="margin:10px;padding:3%;width:25%" >
    
  
      {{item.foodName}} 
      <span class="item-note"> {{item.foodPrice}}</span>
  
  </div> 


<!-- <div ng-repeat="item in items |filter:query">
  {{item.foodName}}
</div> -->
</ion-content>