đây là danh sách các order
<div ng-model="table">order for table {{tableId}}</div>
<ion-header-bar class="bar-calm">
  <div class="buttons button-left header-item">
    <span class="left-buttons">
        <a class="button button-icon button-calm ion-chevron-left" href="#table" ></a>
        </span>
    </div>
    <h1 class="title">Orders</h1>
    <div>
      <div class="search" style="display: none;">
        <input ng-model="query[queryBy]"/>
      </div>
      <span class="ion-search"></span>
    </div>
</ion-header-bar>



<ion-content>
<div class="orderdetalis-wrap" >
  <div class="card clear-fix orderdetails-item" ng-repeat="item in myOrder1"  >
     <span class="orderdetalis-foodName" > bafn 1</span>
     <span class="orderdetalis-foodName" > {{item.foodName}} </span>
      <span class="item-note orderdetalis-foodPrice" style=""> 
      <!-- <img src="img/bgr-price.png"  > -->{{item.foodQuantity}}</span>
 
  </div>
  <div class="card clear-fix orderdetails-item" ng-repeat="item in myOrder2"  >
     <span class="orderdetalis-foodName" > bafn 2</span>
     <span class="orderdetalis-foodName" > {{item.foodName}} </span>
      <span class="item-note orderdetalis-foodPrice" style=""> 
      <!-- <img src="img/bgr-price.png"  > -->{{item.foodQuantity}}</span>
 
  </div>
  <div class="card clear-fix orderdetails-item" ng-repeat="item in myOrder3"  >
     
     <span class="orderdetalis-foodName" > {{item.foodName}} </span>
      <span class="item-note orderdetalis-foodPrice" style=""> 
      <!-- <img src="img/bgr-price.png"  > -->{{item.foodQuantity}}</span>
 
  </div>
  <div class="card clear-fix orderdetails-item" ng-repeat="item in myOrder4"  >
     
     <span class="orderdetalis-foodName" > {{item.foodName}} </span>
      <span class="item-note orderdetalis-foodPrice" style=""> 
      <!-- <img src="img/bgr-price.png"  > -->{{item.foodQuantity}}</span>
 
  </div>
  <div class="card clear-fix orderdetails-item" ng-repeat="item in myOrder5"  >
     
     <span class="orderdetalis-foodName" > {{item.foodName}} </span>
      <span class="item-note orderdetalis-foodPrice" style=""> 
      <!-- <img src="img/bgr-price.png"  > -->{{item.foodQuantity}}</span>
 
  </div>
  <div class="card clear-fix orderdetails-item" ng-repeat="item in myOrder6"  >
     
     <span class="orderdetalis-foodName" > {{item.foodName}} </span>
      <span class="item-note orderdetalis-foodPrice" style=""> 
      <!-- <img src="img/bgr-price.png"  > -->{{item.foodQuantity}}</span>
 
  </div>
  <div class="card clear-fix orderdetails-item" ng-repeat="item in myOrder7"  >
     
     <span class="orderdetalis-foodName" > {{item.foodName}} </span>
      <span class="item-note orderdetalis-foodPrice" style=""> 
      <!-- <img src="img/bgr-price.png"  > -->{{item.foodQuantity}}</span>
 
  </div>
  <div class="card clear-fix orderdetails-item" ng-repeat="item in myOrder8"  >
     
     <span class="orderdetalis-foodName" > {{item.foodName}} </span>
      <span class="item-note orderdetalis-foodPrice" style=""> 
      <!-- <img src="img/bgr-price.png"  > -->{{item.foodQuantity}}</span>
 
  </div>
  <div class="card clear-fix orderdetails-item" ng-repeat="item in myOrder9"  >
     
     <span class="orderdetalis-foodName" > {{item.foodName}} </span>
      <span class="item-note orderdetalis-foodPrice" style=""> 
      <!-- <img src="img/bgr-price.png"  > -->{{item.foodQuantity}}</span>
 
  </div>
</ion-content> 