đây là danh sách các order
<div ng-model="table">order for table {{tableId}}</div>
<ion-header-bar class="bar-calm" id="order-bar">
  <div class="buttons button-left header-item">
    <span class="left-buttons">
        <a class="button button-icon button-calm ion-chevron-left" href="#table" ></a>
        </span>
    </div>
    <h1 class="title">Orders</h1>
    
</ion-header-bar>



<ion-content id="order">
 <div class="row">

  <div class="list card col col-30" id="order-height" >
      <h4 class="header-order-h4">Table 1</h4>
        <div class="item item-body"id="test"ng-repeat="item in myOrder1">{{item.foodName}} <span class="item-note"> {{item.foodQuantity}}</span>  
        </div>     
     

  </div>

  <div class="list card col col-30"id="order-height" >
      <h4 class="header-order-h4">Table 2</h4>
        <div class="item item-body" id="test"ng-repeat="item in myOrder2">{{item.foodName}} <span class="item-note"> {{item.foodQuantity}}</span>  
        </div>     
  </div>

  <div class="list card col col-30" id="order-height">
      <h4 class="header-order-h4">Table 3</h4>
        <div class="item item-body"id="test"ng-repeat="item in myOrder3">{{item.foodName}} <span class="item-note"> {{item.foodQuantity}}</span>  
        </div>     
     

  </div>
  
</div>
<div class="row">

  <div class="list card col col-30"id="order-height">
      <h4 class="header-order-h4">Table 4</h4>
        <div class="item item-body"id="test" ng-repeat="item in myOrder4">{{item.foodName}} <span class="item-note"> {{item.foodQuantity}}</span>  
        </div>     
     

  </div>

  <div class="list card col col-30"id="order-height">
      <h4 class="header-order-h4">Table 5</h4>
        <div class="item item-body" id="test" ng-repeat="item in myOrder5">{{item.foodName}} <span class="item-note"> {{item.foodQuantity}}</span>  
        </div>     
  </div>

  <div class="list card col col-30"id="order-height">
      <h4 class="header-order-h4">Table 6</h4>
        <div class="item item-body" id="test" ng-repeat="item in myOrder6">{{item.foodName}} <span class="item-note"> {{item.foodQuantity}}</span>  
        </div>     

  </div>
  
</div>
<div class="row">

  <div class="list card col col-30"id="order-height">
      <h4 class="header-order-h4">Table 7</h4>
        <div class="item item-body" id="test" ng-repeat="item in myOrder7">{{item.foodName}} <span class="item-note"> {{item.foodQuantity}}</span>  
        </div>     
     

  </div>

  <div class="list card col col-30" id="order-height">
      <h4 class="header-order-h4">Table 8</h4>
        <div class="item item-body" id="test" ng-repeat="item in myOrder8">{{item.foodName}} <span class="item-note"> {{item.foodQuantity}}</span>  
        </div>     
  </div>

  <div class="list card col col-30"id="order-height" >
      <h4 class="header-order-h4">Table 9</h4>
        <div class="item item-body" id="test"ng-repeat="item in myOrder9" >{{item.foodName}} <span class="item-note"> {{item.foodQuantity}}</span>  
        </div>     

  </div>
  
</div>
</ion-content> 