<div ng-model="table">order for table {{tableId}}</div>
<ion-header-bar class="bar-calm">
  <div class="buttons button-left header-item">
    <span class="left-buttons">
        <a class="button button-icon button-calm ion-chevron-left" href="#table"></a>
        </span>
    </div>
    <h1 class="title">Order for table {{tableId}}</h1>
    <div>
      <div class="search" style="display: none;">
        <input ng-model="query[queryBy]"/>
      </div>
      <span class="ion-search"></span>
    </div>
</ion-header-bar>
<ion-content>

  <div class="orderdetalis-wrap" >
  <div class="card clear-fix orderdetails-item" ng-repeat="item in items |filter:query "ng-click="addToList(item);"  >
     
     <span class="orderdetalis-foodName" > {{item.foodName}} </span>
      <span class="item-note orderdetalis-foodPrice" style=""> 
      <!-- <img src="img/bgr-price.png"  > -->{{item.foodPrice}}</span>
 
  </div> 

</div>
  <div class="orderdetails-table" style="float: left; width: 40%;">
  <div> My order</div>

        <div ng-repeat="item in myCartItems track by $index ">
                     <td>{{item.foodName}}</td>
                     <td >số lượng: {{item.foodQuantity}}</td> 
                    <!--  <button ng-click="plusOne($index)">+1</button> -->
                    <input type="number" id="foodQuantity" ng-model="item.foodQuantity">
        </div>
    <button ng-click="sendOrder()">SEND</button>
  </div>
<!-- <div ng-repeat="item in items |filter:query">
  {{item.foodName}}
</div> -->
</ion-content>
