<ion-content style="background-color: #A8E9FB;">
 <div class="container">
	 <div class="header-table">
		 <a class="button button-icon button-small button-calm ion-arrow-left-c" href="#home"></a>
		 <p>My Restaurant's table</p>
	</div>

	<div class="row">
		<div class="col col-md-33 table">
			<p class="table-number"> 1 </p>
		</div>
		<div class=" col col-md-33 table">
			<p class="table-number"> 2 </p>
		</div>
		<div class="col col-md-33 table">
			<p class="table-number"> 3 </p>
		</div>
	</div>
	<div class="row">
		<div class="col col-md-33 table">
			<p class="table-number"> 4 </p>
		</div>
		<div class="col col-md-33 table">
			<p class="table-number"> 5 </p>
		</div>
		<div class="col col-md-33 table">
			<p class="table-number"> 6 </p>
		</div>
	</div>
	<div class="row">
		<div class="col col-md-33 table">
			<p class="table-number"> 7 </p>
		</div>
		<div class="col col-md-33 table">
			<p class="table-number"> 8 </p>
		</div>
		<div class="col col-md-33 table">
			<p class="table-number"> 9 </p>
		</div>
	</div>
</div>
</ion-content>