
/* style */
.modal{
  top: 20% !important;
  right: 10% !important;
  bottom: 50% !important;
  left: 10% !important;
  overflow: visible !important;
  min-height: 262px;
  width: 80% !important;

}

#AddFood {
    border-color:#f77b55;
    background-color: #f77b55;
    color: #fff;
}

#AddFood:active {
    border-color: rgba(247, 123, 85, 0.71) !important;
    background-color: rgba(247, 123, 85, 0.71) !important;
}

#EditFood {
    border-color:#f77b55;
    background-color: #f77b55;
    color: #fff;
}

#EditFood:active {
    border-color: rgba(247, 123, 85, 0.71) !important;
    background-color: rgba(247, 123, 85, 0.71) !important;
}
/*CSS menu*/
#itemheader.item-divider {
    padding-top: 15px;
    padding-bottom: 13px;
    min-height: 30px;
    background-color:#f77b55;
    color: #FFF;
    font-weight: 500;
}
#itemheader.item-note {
    float: right;
    color: #FFF;
    font-size: 15px;
}
@media (max-width: 680px) {
    .active .modal-backdrop-bg {
    opacity: .6;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    }
}